input {
    width: 250px;
    line-height: 18px;
    height: 30px;
    border: 2px solid rgb(246, 51, 51);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
    color: blue;
    font-size: 25px;
    font-family: sans-serif;
  }
  
  
  button {
    width: 150px;
    height: 40px;
    line-height: 18px;
    background: rgb(123, 238, 85);
    border: 2px solid rgb(230, 19, 19);
    border-radius: 10px;
  } 